<div class="outline">

  <h1 class="resistrationTitle">Pahooに登録</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="resistrationSection">
      <%= f.text_field :nickname, placeholder: "お名前" %>
    </div>

    <div class="resistrationSection">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)" %>
    </div>

    <div class="resistrationSection">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用パスワード"%>
    </div>

    <div class="checkArea">
      <p>興味のあるジャンルを選ぼう</p>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, include_hidden: false, class: "checkBox") do |tag| %>
        <label class="genreLabel">
          <%= tag.check_box + tag.text %>
        </label>
      <% end %>
    </div>

    <%= f.submit "新規登録", class: "submitBtn" %>

    <%= link_to "ログインはこちら", new_user_session_path, class: "submitBtn" %>
  <% end %>

  
</div>

<%= javascript_include_tag 'genre-label' %>
