<label id="js-nav-close"></label>

<div class="notificationArea">
  <div class="notificationHeader">
    <%= link_to :back, class: "backLink" do %><button></button><% end %>
    <h4 class="sub-title">通知</h4>
  </div>
  <div class="notificationIndex">
    <% if @notifications.exists? %>
      <div class="users-index">
        <%= render @notifications %>
      </div>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  </div>
  <%= render partial: "modules/create" %>
  <%= render partial: "modules/footer" %>
</div>

<%= javascript_include_tag 'create' %>
