<div class="createBannerArea">
  <%= form_with(model: @banner,  local: true) do |f| %>

    <div class="bannerSection">
      <%= f.label :banner_image, "バナーのイメージ画像を選択" %>
      <%= f.file_field :banner_image %>
    </div>

    <div class="bannerSection">
      <%= f.label :banner_name, "バナーのタイトル"%>
      <%= f.text_field :banner_name, placeholder: "バナーのタイトルを入力"%>
    </div>

    <div class="bannerSection">
      <%= f.label :banner_details, "バナーの詳細説明"%>
      <%= f.text_area :banner_details, placeholder: "バナーの詳細を入力", class: "detailsInput"%>
    </div>

    <div class="checkArea">
      <p>バナーにタグをつけよう！</p>
      <%= f.collection_select(:banner_tag_id, BannerTag.all, :id, :banner_tag_name, {prompt: "タグを選択してください"} ) %>
    </div>

    <%= f.submit "バナーを作成", class: "submitBtn" %>

  <% end %>
  <%= render partial: 'modules/footer' %>
</div>