<!-- <header class="header">
  <p id="pahoo">Pahoo</p>
  <%= link_to new_banner_path, class: "CreateBannerLink" do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</header>-->

<div class="search-tab" id="js-tab">
  <div class="search-tab-nav">
    <%= link_to "アカウント", "#", class: "search-tab-nav-item is-active", data: {nav: '0'} %>
    <%= link_to "投稿", "#", class: "search-tab-nav-item", data: {nav: '1'} %>
    <%= link_to "バナー", "#", class: "search-tab-nav-item", data: {nav: '2'} %>
  </div>
  <div class="search-tab-contens">
    <div class="search-tab-contents-item" data-content="0">

      <div class="tagArea">
        <% @tag_lists.each do |list| %>
          <%= link_to list.name, users_path(tag_id: list.id), class: "user-post-list-link" %>
        <% end %>
      </div>

      <% if params[:tag_id] %>
        <ul class="usersIndex">
          <% @connect_users.each do |user| %>
            <li class="userList">
              <%= link_to user_path(id: user.id), class: "userShowLink" do %>
                <div class="left-icon">
                  <% if user.icon? %>
                    <%= image_tag user.icon.url, class: "userIcon" %>
                  <% else %>
                    <i class="fas fa-user-circle"></i>
                  <% end %>
                </div>
                <div class="right-name">
                  <p class="user-nickname"><%= user.nickname %>
                  <p class="user-id"><%= user.id_name %></p>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul class="usersIndex">
          <% @users.each do |user| %>
            <li class="userList">
              <%= link_to user_path(id: user.id), class: "userShowLink" do %>
                <div class="left-icon">
                  <% if user.icon? %>
                    <%= image_tag user.icon.url, class: "userIcon" %>
                  <% else %>
                    <i class="fas fa-user-circle"></i>
                  <% end %>
                </div>
                <div class="right-name">
                  <p class="user-nickname"><%= user.nickname %>
                  <p class="user-id"><%= user.id_name %></p>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="search-tab-contents-item" data-content="1">

      <div class="tagArea">
        <% @posts_tag_lists.each do |post_list| %>
          <%= link_to post_list.post_tag_name, posts_path(post_tag_id: post_list.id), class: "user-post-list-link" %>
        <% end %>
      </div>
      <% if params[:post_tag_id] %>
        <div class="defaultPostedArea">
          <% @connect_posts.each do |post| %>
            <%= link_to post_path(post.id), class: "postScallLink" do %>
              <%= video_tag(post.post_video.to_s, autoplay: true, muted: true, loop: true, playsinline: true, class: "defaultContent") %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="defaultPostedArea">
          <% @posts.each do |post| %>
            <%= link_to post_path(post.id), class: "postScallLink" do %>
              <%= video_tag(post.post_video.to_s, autoplay: true, muted: true, loop: true, playsinline: true, class: "defaultContent") %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="search-tab-contents-item" data-content="2">

      <div class="tagArea">
          <% @banners_tag_lists.each do |banner_list| %>
            <%= link_to banner_list.banner_tag_name, banners_path(banner_tag_id: banner_list.id), class: "banner-list-link" %>
          <% end %>
      </div>

      <% if params[:banner_tag_id] %>
        <ul class="bannersIndex">
          <% @connect_banners.each do |banner| %>
            <li class="bannerList">
              <%= link_to banner_path(id: banner.id), class: "bannerShowLink" do %>
                <%= image_tag banner.banner_image.url, class: "bannerIndexImage" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <ul class="bannersIndex">
          <% @banners.each do |banner| %>
            <li class="bannerList">
              <%= link_to banner_path(id: banner.id), class: "bannerShowLink" do %>
                <%= image_tag banner.banner_image.url, class: "bannerIndexImage" %>
              <% end %>
              <div class="banner-right-area">
                <p class="banner-title"><%= banner.banner_name %></p>
                <div class="right-inner-area">
                  <p class="banner-genre">hiphop</p>
                  <p class="banner-limit">募集〆切 - 8/15</p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
</div>

<%= render partial: "modules/footer" %>

<%= javascript_include_tag 'search-tab' %>
