<div class="notifications">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: key)%>
  <% end %>
</div>

<header class="mypage-header">

<h1><%= @user.id_name %></h1>
  

  <div class="right-header">
    <%= link_to new_banner_path, class: "CreateBannerLink" do %>
      <i class="fas fa-plus-square"></i>
    <% end %>
    <label class="setting-menu">
      <i class="fas fa-bars"></i>
    </label>
  </div>
  
</header>

<div class="profileArea">
  <div class="profileTop">

    <div class="leftArea">
      <% if @user.icon? %>
        <%= image_tag @user.icon.url, class: "profileIcon" %>
      <% else %>
        <i class="fas fa-user-circle"></i>
      <% end %>
      <p><%= @user.nickname %></p>
      <p>自己紹介文...</p>
    </div>

    <div class="rightArea">
      <p>投稿数</p>
      <p>フォロー(仮)</p>
      <p>フォロワー(仮)</p>
    </div>
  </div>

  <div class="profileMiddle">
    <%= link_to "プロフィール編集", edit_user_path, class: "userEditLink" %>
  </div>
  
  <div class="tagArea">
    <h2 class="tagTitle">興味のあるジャンル</h2>
    <div class="genre">
      <% @user.tag_maps.each do |genre| %>
        <p class="genreName">#<%= genre.tag.name %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="tab" id="js-tab">
  <div class="tab-nav">
    <%= link_to "#", class: "tab-nav-item is-active", data: {nav: '0'} do %><i class="fas fa-film"></i><% end %>
    <%= link_to "#", class: "tab-nav-item", data: {nav: '1'} do %><i class="fas fa-ad"></i><% end %>
  </div>
  <div class="tab-contens">
    <div class="tab-contents-item" data-content="0">
      <div class="userPostedArea">
        <% @posts.each do |video| %>
          <%= video_tag(video.post_video.to_s, controls: true, playsinline: true, class: "myPostesContent") %>
        <% end %>
      </div>
    </div>
    <div class="tab-contents-item" data-content="1">
      <div class="userBannerArea">
        <% @banners.each do |banner| %>
          <%= link_to banner_path(banner.id), class: "userBannerLink" do %>
            <%= image_tag banner.banner_image.url, class: "userBannerImage" %>
            <div class="bannerPop">
            <p class="bannerTitle"><%= banner.banner_name %></p>
            <p class="bannerTag">#<%= banner.banner_tag %></p>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



 

<div class="menuNav">
  <p>ハンバーガーメニュー</p>
  <p>画面したから出現</p>
</div>


<%= render partial: "modules/footer" %>

<%= javascript_include_tag 'user-show-tab' %>
