<div class="notifications">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: key)%>
  <% end %>
</div>

<label id="js-nav-close"></label>
<nav id="userMenuNav">
  <li>
    <% if user_signed_in? && current_user %>
      <i class="fas fa-sign-out-alt"></i>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logoutLink" %>
    <% else %>
      <i class="fas fa-sign-out-alt"></i>
      <%= link_to "ログイン", new_user_session_path, class: "logoutLink" %>
    <% end %>
  </li>
  <li>
    <% if user_signed_in? && current_user %>
      <i class="fas fa-history"></i>
      <%= link_to "アーカイブ(仮)", "#", method: :delete, class: "logoutLink" %>
    <% else %>
      <i class="fas fa-history"></i>
      <%= link_to "アーカイブ(仮)", "#", method: :delete, class: "logoutLink" %>
    <% end %>
  </li>
  <li>
    <% if user_signed_in? && current_user %>
      <i class="fas fa-paperclip"></i>
      <%= link_to "保存済み(仮)", "#", method: :delete, class: "logoutLink" %>
    <% else %>
      <i class="fas fa-paperclip"></i>
      <%= link_to "保存済み(仮)", "#", method: :delete, class: "logoutLink" %>
    <% end %>
  </li>
  <li>
    <% if user_signed_in? && current_user %>
      <i class="fas fa-infinity"></i>
      <%= link_to "Unity(仮)", "#", method: :delete, class: "logoutLink" %>
    <% else %>
      <i class="fas fa-infinity"></i>
      <%= link_to "Unity(仮)", "#", method: :delete, class: "logoutLink" %>
    <% end %>
  </li>
  <li>
    <% if user_signed_in? && current_user %>
      <i class="fas fa-user-plus"></i>
      <%= link_to "ユーザーを探そう(仮)", "#", class: "logoutLink" %>
    <% else %>
      <i class="fas fa-user-plus"></i>
      <%= link_to "ユーザーを探そう(仮)", "#", class: "logoutLink" %>
    <% end %>
  </li>
</nav>

<header class="header">
  <p id="pahoo">Pahoo</p>
  <%= link_to new_banner_path, class: "CreateBannerLink" do %>
    <i class="fas fa-plus-square"></i>
  <% end %> 
  <div class="right-header">
    <label class="menu-wrapper">
      <div class="menu-item line1"></div>
      <div class="menu-item line2"></div>
      <div class="menu-item line3"></div>
    </label>
  </div>
</header>

<!-- パソコン用ヘッダー -->
<%= render partial: 'modules/mobil-header' %>

<div class="main-outline">

  <!-- パソコン用バナーエリア -->
  <ul class="mobilBannerArea">
    <% @banners.each do |banner| %>
      <li class="bannerContent">
        <%= link_to banner_path(banner.id), class: "bannerLink" do %>
          <%= image_tag banner.banner_image.url, class: "bannerImage" %>
          <div class="bannerPop">
            <p class="bannerTitle"><%= banner.banner_name %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="post-area">
    <ul class="post-contents">
      <% @posts.each do |post| %>
        <li class="post-content">
          <%= video_tag(post.post_video.to_s, playsinline: true, autobuffer: true, class: "postVideo") %>

          <!-- プロフィールエリア -->
          <div class="homeProfileArea">
            <!-- プロフィールリンク -->
            <%= link_to user_path(post.user.id), class: "profileLink" do%>
              <% if post.user.icon? %>
                <%= image_tag post.user.icon.url, class: "user-icon"%>
              <% else %>
                <i class="fas fa-user-circle"></i>
              <% end %>
              <p class="user-nickname"><%= post.user.nickname %></p>
            <% end %>

            <!-- フォローリンク -->
            <div id="sendingArea_<%= post.id %>", class="sending-area">
              <%= render partial: 'modules/sending', locals: { post: post } %>
            </div>
          </div>

          <div class="homeguradationArea">
            <!-- メニューリンク -->
            <% if user_signed_in? && post.user_id == current_user.id %>
              <%= link_to "#", class: "indexPostMenuLink" do %>
                <i class="fas fa-ellipsis-h"></i>
              <% end %>
            <% end %>

            <!-- メニューナビゲーション -->
            <nav id="indexPostMenuNav">
              <li>
                <% if user_signed_in? && current_user %>
                  <i class="fas fa-edit"></i>
                  <%= link_to "編集", edit_post_path(post), class: "logoutLink" %>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? && current_user %>
                  <i class="fas fa-trash"></i>
                  <%= link_to "削除", post_path(post), method: :delete, class: "logoutLink" %>
                <% end %>
              </li>
            </nav>

            <!-- いいねリンク -->
            <div id="favorite_area_<%= post.id %>", class="favoriteArea">
              <%= render partial: "modules/favorite", locals: { post: post } %>
            </div>

            <!-- 他SNSへのシェアイベントの発火 -->
            <%= link_to "#", class: "shareLink" do%>
              <i class="fas fa-share"></i>
            <% end %>

            <!-- シェアナビゲーション -->
            <nav id="shareNav">
              <li>
                <i class="fab fa-twitter"></i>
                <%= link_to 'Twitterで共有', "https://twitter.com/share?url=#{request.url}", title: post.post_text, target: '_blank', class: "listLink" %>
              </li>
              <li>
                <i class="fab fa-line"></i>
                <%= link_to 'Lineで共有(仮)', '#', class: "listLink" %>
              </li>
              <li>
                <i class="fab fa-facebook-square"></i>
                <%= link_to 'facebookで共有(仮)', '#', class: "listLink" %>
              </li>
            </nav>

            <!-- コメントリンク -->
            <%= link_to "#", class: "commentLink" do%>
              <i class="far fa-comment-dots"></i>
              <p class="commentCount"><%= post.comments.count %></p>
            <% end %>

            <!-- コメントナビゲーション -->
            <nav id="commentNav">
              <% if post.comments %>
                <div class="commentOutline">
                  <%= render partial: "modules/comment", locals: { comments: post.comments } %>
                </div>
              <% else %>
                <p>コメントはまだありません</p>
              <% end %>

              <div class="bottomInput">
                <%= form_with(model: [post, @comment], id: "new-comment") do |f| %>
                  <%= f.text_field :content, class: "inputComment"%>
                  <%= f.submit "コメントする", class: "submitComment" %>
                <% end %>
              </div>
            </nav>
          </div>


           <!-- プログレスバー -->
          <div class="controls">
            <div class="orange-bar">
              <div class="orange-juice"></div>
            </div>
          </div>
          
          <!-- 投稿本文 -->
          <div class="postText"><%= post.post_text %></div>

          <!-- 動画の再生/停止ラベル -->
          <button id="playPause"></button>

          <!-- 動画の音声on/off -->
          <label id="mute" class="muteBtn"><i class="fas fa-volume-off"></i></label>

        </li>
      <% end %>
    </ul>
  </div>
</div>

<ul class="bannerArea">
  <% @banners.each do |banner| %>
    <li class="bannerContent">
      <%= link_to banner_path(banner.id), class: "bannerLink" do %>
        <%= image_tag banner.banner_image.url, class: "bannerImage" %>
        <div class="bannerPop">
          <p class="bannerTitle"><%= banner.banner_name %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render partial: "modules/footer" %>

<!-- JSファイル読み込み -->
<%= javascript_include_tag 'home/flashMessage' %>
<%= javascript_include_tag 'home/post_video' %>
<%= javascript_include_tag 'home/banner' %>
<%= javascript_include_tag 'home/post-comment' %>
<%= javascript_include_tag 'home/post-menu' %>
<%= javascript_include_tag 'home/post-share' %>
<%= javascript_include_tag 'menu' %>