<div class="notifications">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: key)%>
  <% end %>
</div>

<label id="js-nav-close"></label>


<header class="header">
  <p id="pahoo">Pahoo</p>
  <%= link_to new_banner_path, class: "CreateBannerLink" do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</header>

<div class="post-area">
  <ul class="post-contents">
    <% @posts.each do |post| %>
      <li class="post-content">
        <%= video_tag(post.post_video.to_s, controls: true, playsinline: true, class: "postVideo") %>
        <nav id="shareNav">
          <li>
            <i class="fab fa-twitter"></i>
            <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: post.post_text, target: '_blank' %>
          </li>
          <li>
            <i class="fab fa-line"></i>
          </li>
          <li>
          </li>
        </nav>
        <%# <div class="controls">
          <div class="orange-bar">
            <div class="orange-juice"></div>
          </div>
        </div>
        <label class="btnLabel" ">
          <div class="buttons">
            <button id="playPause"></button>
          </div>
        </label> %>
        
        <%# <label id="mute" class="muteBtn"><i class="fas fa-volume-off"></i></label> %>

        <!--<%= link_to "#", class: "menuLink" do%>
          <i class="fas fa-ellipsis-h"></i>
        <% end %>-->
        <% @users.each do |user| %>
          <%= link_to user_path(post.user.id), class: "profileLink" do%>
            <% if post.user.icon? %>
              <%= image_tag post.user.icon.url, class: "user-icon"%>
            <% else %>
              <i class="fas fa-user-circle"></i>
            <% end %>
            <p class="user-nickname"><%= post.user.nickname %></p>
          <% end %>
          <%= link_to "#", class: "goodLink" do%>
            <i class="far fa-heart", id="js-good"></i>
          <% end %>
          <%= link_to "#", class: "commentLink" do%>
            <i class="far fa-comment-dots"></i>
          <% end %>
          <%= link_to "#", class: "shareLink" do%>
            <i class="fas fa-share-alt"></i>
          <% end %>
          <div class="postText"><%= post.post_text %></div>
          <%# <%= link_to "投稿削除", post_path(post.id), method: :delete, class: "postDeleteBtn" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<ul class="bannerArea">
  <% @banners.each do |banner| %>
    <li class="bannerContent">
      <%= link_to banner_path(banner.id), class: "bannerLink" do %>
        <%= image_tag banner.banner_image.url, class: "bannerImage" %>
        <div class="bannerPop">
          <p class="bannerTitle"><%= banner.banner_name %></p>
          
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render partial: "modules/footer" %>

<%= javascript_include_tag 'flashMessage' %>
<%= javascript_include_tag 'banner' %>
<%= javascript_include_tag 'menu' %>
