<div class="outline">
  <h1>Pahooにログイン</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="sessionSection">
      <%= f.text_field :email, placeholder: "メールアドレスを入力してください", class: "sessionInput" %>
    </div>
    <div class="sessionSection">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "sessionInput" %>
    </div>
    <div class="sessionSection">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", class: "sessionInput"%>
    </div>
    <!--<% if devise_mapping.rememberable? %>
      <div class="section">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>-->
    <div class="actions">
      <%= f.submit "ログイン", class: "submitBtn" %>
    </div>
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "submitBtn" %>
  <% end %>
</div>
