<div class="postNewHeader">
  <%= link_to :back, class: "backLink" do %><button></button><% end %>
  <p>編集</p>
</div>

<div class="postCreateArea">
  <%= form_with(model: @post, local: true, class: "post-create__form") do |f| %>
     <p class="genre-tag__title">タグ付け(複数選択可)</p>
    <div class="checkArea">
      <%= f.collection_check_boxes(:post_tag_ids, PostTag.all, :id, :post_tag_name, include_hidden: false, class: "checkBox") do |tag| %>
        <label class="genreLabel">
          <%= tag.check_box + tag.text %>
        </label>
      <% end %>
    </div>

    <div class="PostSection">
      <%= f.label :post_text, "投稿文" %>
      <%= f.text_area :post_text, class: "postText"%>
    </div>

    <%= f.submit "編集", class: "submitBtn" %>
  <% end %>
</div>

<%= javascript_include_tag 'genre-label' %>
