<div class="showHeader">
  <%= link_to :back, class: "backLink" do %><button></button><% end %>
  <p class="postOwnerName"><%= @post.user.nickname %></p>
  <h1>投稿</h1>
</div>

<div class="PickupContent">
  <%= video_tag(@post.post_video.to_s, playsinline: true, class: "scallPostVideo") %>

  <div class="scallProfileArea">

    <!-- プロフェールリンク -->
    <%= link_to user_path(@post.user.id), class: "scallProfileLink" do %>
      <% if @post.user.icon? %>
        <%= image_tag @post.user.icon.url, class: "user-icon"%>
      <% else %>
        <i class="fas fa-user-circle"></i>
      <% end %>
      <p class="user-nickname"><%= @post.user.nickname %></p>
    <% end %>

    <!-- フォローリンク -->
    <div id="sendingArea_<%= @post.id %>", class="sending-area">
      <%= render partial: 'modules/sending', locals: { post: @post } %>
    </div>

  </div>


  <!-- コントロールパネル -->
  <div class="show-controls">
    <div class="show-orange-bar">
      <div class="show-orange-juice"></div>
    </div>
  </div>
  <label class="showBtnLabel" ">
    <div class="showButtons">
      <button id="showPlayPause"></button>
    </div>
  </label>

  <!-- 音声アイコン -->
  <label id="showMute" class="showMuteBtn">
    <i class="fas fa-volume-off"></i>
  </label>

  <!-- メニュアイコン -->
  <% if @post.user_id == current_user.id %>
    <%= link_to "#", class: "postMenuLink" do %>
      <i class="fas fa-ellipsis-h"></i>
    <% end %>
  <% end %>

  <!--いいねリンク -->
  <div id="favorite_area_<%= @post.id %>", class="favoriteArea">
    <%= render partial: "modules/favorite", locals: { post: @post } %>
  </div>
  
  <!--コメントリンク -->
  <%= link_to "#", class: "commentLink" do%>
    <i class="far fa-comment-dots"></i>
    <p class="commentCount"><%= @comments.count %></p>
  <% end %>

  <!--シェアリンク -->
  <%= link_to "#", class: "shareLink" do%>
    <i class="fas fa-share"></i>
  <% end %>
  
  <div class="postText"><%= @post.post_text %></div>
  <%# <%= link_to "投稿削除", post_path(post.id), method: :delete, class: "postDeleteBtn" %>
</div>

<!-- 黒背景 -->
<label id="js-nav-close"></label>

<!-- シェアナビゲーション -->
<nav id="shareNav">
  <li>
    <i class="fab fa-twitter"></i>
    <%= link_to 'Twitterで共有', "https://twitter.com/share?url=#{request.url}", title: @post.post_text, target: '_blank', class: "postShareLink" %>
  </li>
  <li>
    <i class="fab fa-facebook"></i>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=79&height=28&appId" width="79" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    <!--<%= link_to 'FaceBookで共有(仮)', class: "postShareLink" %>-->
  </li>
  <li>
    <i class="fab fa-line"></i> 
    <%= link_to 'Lineで共有(仮)', "#" , class: "postShareLink" %>
  </li>
</nav>

<!-- メニューナビゲーション -->
<nav id="postMenuNav">
  <li>
    <% if current_user %>
      <i class="fas fa-edit"></i>
      <%= link_to "編集", edit_post_path(@post), class: "logoutLink" %>
    <% end %>
  </li>
  <li>
    <% if current_user %>
      <i class="fas fa-trash"></i>
      <%= link_to "削除", post_path(@post), method: :delete, class: "logoutLink" %>
    <% end %>
  </li>
</nav>

<!-- コメントナビゲーション -->
<nav id="commentNav">
  <% if @comments %>
    <div class="commentOutline">
      <%= render partial: "modules/comment", locals: { comments: @comments } %>
    </div>
  <% else %>
    <p>コメントはまだありません</p>
  <% end %>

  <div class="bottomInput">
    <%= form_with(model: [@post, @comment], id: "new-comment") do |f| %>
      <%= f.text_field :content, class: "inputComment" %>
      <%= f.submit "コメントする", class: "submitComment" %>
    <% end %>
  </div>
</nav>


<!-- ユーザーの他の投稿一覧 -->
<div class="userOthersPosted">
  <p><span><%= @post.user.nickname %></span>さんの他の投稿</p>
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id), class: "postScallLink" do %>
      <%= video_tag(post.post_video.to_s, autoplay: true, muted: true, loop: true, playsinline: true, class: "otherContents") %>
    <% end %>
  <% end %>
</div>

<%= render partial: "modules/footer" %>
<%= javascript_include_tag 'shareLink' %>
<%= javascript_include_tag 'post-comment' %>
<%= javascript_include_tag 'post-show-video' %>
<%= javascript_include_tag 'js-post-menu' %>