<label id="js-nav-close"></label>

<div class="postNewHeader">
  <%= link_to :back, class: "backLink" do %><button></button><% end %>
  <p>新規コミュニティ作成</p>
</div>

<div class="createBannerArea">
  <%= form_with(model: @community,  local: true, class: "banner-create__form") do |f| %>

    <div class="bannerSection">
      <%= f.label :community_icon, "コミュニティのイメージ画像を選択" %>
      <label class="banner-image__label">
        <i class="far fa-image"></i>
        <%= f.file_field :community_icon, class: "banner-image__file"%>
      </label>
    </div>

    <div class="bannerSection">
      <%= f.label :community_title, "コミュニティのタイトル"%>
      <%= f.text_field :community_title, placeholder: "コミュニティのタイトルを入力"%>
    </div>

    <%= f.submit "コミュニティを作成", class: "submitBtn" %>

  <% end %>
  <%= render partial: 'modules/footer' %>
</div>

<%= javascript_include_tag 'create' %>
