<!DOCTYPE html>
<html>
  <head>
    <title>PahooBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= yield %>

    <footer class="footer">
      <%= link_to root_path, class: "bottomNavLink" do%>
        <i class="fas fa-home"></i>
      <% end %>

      <%= link_to root_path, class: "bottomNavLink" do%>
       <i class="fas fa-search"></i>
      <% end %>

      <%= link_to new_post_path, class: "bottomNavLink" do%>
        <i class="fas fa-plus-circle"></i>
      <% end %>

      <%= link_to root_path, class: "bottomNavLink" do%>
        <i class="fas fa-envelope"></i>
      <% end %>

      <%= link_to root_path, class: "bottomNavLink" do%>
        <i class="fas fa-user-circle"></i>
      <% end %>
    </footer>
  </body>
</html>
