<!DOCTYPE html>
<html>
  <head>
    <title>PahooBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <nav id="createNav">
      <li>
        <i class="fas fa-film"></i>
        <%= link_to "投稿", new_post_path, class: "logoutLink" %>
      </li>
      <li>
        <i class="fas fa-ad"></i>
        <%= link_to "バナーを作成", new_banner_path, class: "logoutLink" %>
      </li>
       <li>
        <i class="fab fa-unity"></i>
        <%= link_to "コミュニティを作成", new_community_path, class: "logoutLink" %>
      </li>
    </nav>


    <%= yield %>
    <%= javascript_include_tag 'create' %> 

  </body>
</html>
